.opponents__container {
  margin: 20vh auto;
  padding: 5px;
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Oswald", sans-serif !important;
}

.opponents__title {
  font-size: 40px;
  text-align: center;

  @media (max-width: $l-breakpoint) {
    font-size: 36px;
  }

  @media (max-width: $md-breakpoint) {
    font-size: 32px !important;
  }

  @media (max-width: $s-breakpoint) {
    font-size: 28px !important;
  }
}

.opponents__subtitle {
  font-size: 22px;
  margin-top: 30px;
  text-align: center;

  @media (max-width: $md-breakpoint) {
    font-size: 20px !important;
  }

  @media (max-width: $s-breakpoint) {
    font-size: 18px !important;
  }
}

.opponents__subtitle-two {
  font-size: 18px;
  margin-top: 20px;
  text-align: center;

  @media (max-width: $md-breakpoint) {
    font-size: 16px !important;
  }
}

.opponents__button-container {
  margin: 40px auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

.opponents__button {
  border: 2px solid $player-button !important;
  border-radius: 10px;
  color: $player-button !important;
  cursor: pointer;
  display: inline-block;
  font-size: 16px !important;
  margin: 0 15px;
  padding: 5px 10px;
  text-align: center;
  width: 80px !important;

  &:hover {
    background: $player-button !important;
    color: #fff !important;
  }

  @media (max-width: $md-breakpoint) {
    font-size: 15px !important;
    padding: 4px 8px !important;
  }
}
