$dark-grey: #333;
$grey: #666;
$blue: #1c88bf;
$white: #fff;
$black: #000;
$gray: #ccc;
$dark-blue: #364051;
$off-white: #ebe9e9;

//Tic-Tac-Toe Colors
$p1-green: #008000;
$p2-red: #f00;
$player-button: rgb(189, 146, 78);

//Font Sizes
$font-size-large: 2rem;
$font-size-medium: 1.7rem;
$font-size-small: 1.4rem;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

//Break points
$xl-breakpoint: 1690px;
$l-breakpoint: 1280px;
$md-breakpoint: 980px;
$s-breakpoint: 740px;
$xs-breakpoint: 480px;
